{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}


<main>

    <div class="container_registro">
    <h1>Registrar Usuario</h1>

    <!-- MENSAJES FLASH -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    
    <form method="POST"  action="{{ url_for('registrar') }}" class="formulario-registro">
        <input name="nombre" placeholder="Nombre" required>
        <input name="apellido" placeholder="Apellido" required>
        <input name="dni" placeholder="DNI" required>
        <input type="date" name="fecha_nacimiento" required>

        <select name="sexo" required>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
        </select>

        <input name="telefono" placeholder="Teléfono">
        <input name="direccion" placeholder="Dirección">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="contrasena" placeholder="Contraseña" required>

        <label for="id_rol">Selecciona tu rol:</label>
        <select name="id_rol" required>
            <option value="1">Paciente</option>
            <option value="2">Médico</option>
            <option value="3">Administrador</option>
        </select>

        <button type="submit">Registrar</button>
    </form>
</div>
    
    

    
</main>







{% endblock %}